
  
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.g5-disabled {
	color: #AAA;
}

.dot {
  stroke: #000;
}

#BuildingSelect {
	height: 150px;
	overflow: scroll;
}